body{
    margin: 0;
}
.Header{
    background-color: red;
    height: 110px;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    display: table-cell;
    width: 100vw;
    position: relative;
}

.Header-content{
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.Nav{
    background-color: green;
    height: 40px;
}

.Wrapper{
    width: 100vw;
    position: relative;
    height: 400px;
    
}

.Section{
    position: absolute;
    background-color: blue;
    height: 200px;
    top: 0;
    width: 70%;
}

.Artilce{
    position: absolute;
    background-color: black;
    height: 200px;
    bottom: 0;
    width: 70%;
}

.Aside{
    position: absolute;
    background-color: gray;
    height: 400px;
    right: 0;
    width: 30%;
}

.Footer{
    background-color: rgb(250, 180, 50);
    height: 200px;
    margin: -16px 0 0 0;
    position: relative;
}

.Footer-content{
    color: white;
    position: absolute;
    bottom: 0;
    font-size: larger;
    line-height: 5px;
}

.Footer-content>p>a{
    color:aliceblue;
    text-decoration-line: none;
    font-style: italic;
    font-weight: bolder;
}